@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Imprint MT Shadow';
    src: url('./assets/font/imprint_mt_shadow2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'poppin';
    src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }